.cabecalhoLista {
    color: white;
    margin: 10px 0;
  }

  .videos {
    display: flex;
    flex-direction: column;
    gap: 10px;  
    border-radius: 10px;
  }
  
  .videos li {
    list-style: none;
  }